article,
section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-card {
    padding: 0 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-between;
}

.mycard {
    height: 20rem;
    max-width: 22.5rem;
    background: #d8f3ff;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(3, 74, 117, 0.2);
}

.mycard:hover {
    height: 40rem;
    box-shadow: 5px 5px 10px rgba(3, 74, 117, 0.2);
    margin-bottom: 1rem;
}

.mycard .img-card {
    height: 20rem;
    width: 100%;
}

.mycard .img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

.mycard .top-text {
    padding: .5em;
}

.mycard .top-text .name {
    font-size: 2rem;
    font-weight: 500;
    color: #034a75;
    text-align: center;
}

.mycard .top-text p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #00bb2d;
    line-height: 2rem;
    text-align: center;
}

.mycard .bottom-text {
    padding: 0 2rem 1rem 2rem;
    margin-top: .5em;
    background: #d8f3ff;
    color: #034a75;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.mycard:hover .bottom-text {
    opacity: 1;
    visibility: visible;
    backface-visibility: hidden;
}

.mycard .bottom-text .text-card {
    text-align: justify;
}

.mycard .bottom-text .btn-card {
    margin: 1rem 0;
}

.mycard .bottom-text .btn-card a {
    text-decoration: none;
    background: #00bb2d;
    color: #d8f3ff;
    padding: .5em .8em;
    border-radius: .3em;
    display: inline-flex;
    transition: 0.2s;
}

.mycard .bottom-text .btn-card a:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 48em) {
    .container-card {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5rem;
    }
    .mycard {
        max-width: 70rem;
        margin: 2rem 0;
    }
}