@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap');
body {
    background-color: #d8f3ff;
    font-family: 'Roboto', sans-serif;
}


/* NAVBAR */

.navbar {
    background-color: #00bb2d !important;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

.active a {
    color: #034a75 !important;
}

.nav-link:hover {
    color: #034a75 !important;
}

a {
    color: #d8f3ff !important;
}


/* Hero Image */

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    display: inline-flex;
    margin-top: 70px;
}

#hero-image {
    height: auto;
    width: 100%;
    animation-duration: 5s;
}

h1 {
    color: #034a75;
    font-family: 'Dancing Script', cursive;
}


/* CATEGORIES */

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #d8f3ff;
    position: absolute;
    left: 120px;
    top: 70px;
}

h2:hover {
    color: #034a75;
}

.category a img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.category:hover a img {
    border: 2px #034a75 solid;
}


/* MAP AND BUTTONS */

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 2%;
    margin-top: 20px;
}


/* botton style from https://www.w3schools.com/csS/css3_buttons.asp */

.btn-style {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: #d8f3ff;
    font-size: 16px;
    padding: 12px 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.btn-pos1 {
    top: 48%;
    left: 60%;
}

.btn-pos2 {
    top: 33%;
    left: 62%;
}

.btn-pos3 {
    top: 36%;
    left: 36%;
}

.btn-pos4 {
    top: 47%;
    left: 28%;
}

.btn-pos5 {
    top: 56%;
    left: 43%;
}

.container .btn-style:hover {
    background-color: transparent;
    color: #00bb2d;
}


/* FORM IN contact.html */

.btn-submit {
    background-color: #00bb2d;
    color: #d8f3ff;
}

.btn-submit:hover {
    background-color: #d8f3ff;
    color: #034a75;
}

fieldset {
    font-family: 'Roboto', sans-serif;
    color: #034a75;
}


/* FOOTER */

footer {
    margin-top: 20px;
    padding: 3px;
    background-color: #00bb2d;
    border-top: #d8f3ff;
    color: #d8f3ff;
    font-family: 'Roboto', sans-serif;
}

.social-icon-shadow a i:hover {
    color: #034a75;
}

@media screen and (max-width: 1200px) {
    h2 {
        left: 180px;
    }
    #tab-screen {
        left: 440px;
        top: 70px;
    }
}

@media screen and (max-width: 992px) {
    h2 {
        left: 120px;
    }
    #tab-screen {
        left: 320px;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        left: 200px;
    }
    #tab-screen {
        left: 200px;
    }
}